@model WebApplication1.Models.ShopView

<div class="col-md-4 col-lg-2 sidebar">
    <ul style="list-style: none; padding-left: 0;">
        @foreach (var cat in Model.Categories.Where(c => c.ParentId == null))
        {
            <div class="sidebar-box-2">
                <h2 class="heading mb-4">
                    <li><a href="/Shop/@cat.Slug">@cat.Name</a></li>
                </h2>
                <ul>
                    @foreach (var sub in Model.Categories.Where(s => s.ParentId == cat.Id))
                    {
                        <li><a href="/Shop/@sub.Slug">@sub.Name</a></li>
                    }
                </ul>
            </div>
        }
    </ul>
</div>