<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-success text-center">
                <h2>Order Placed Successfully!</h2>
                <p>Your order has been received. Order ID: @ViewBag.OrderId</p>
                <a asp-controller="Shop" asp-action="Index" class="btn btn-primary">Continue Shopping</a>
            </div>
        </div>
    </div>
</div>